<app-header Titulo="Admin Vacunas"></app-header>

<ion-content>
    <form autocomplete="off" (ngSubmit)="enviar()" [formGroup]="formVacuna">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-input placeholder="Nombre vacuna:" formControlName="nombre"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-select placeholder="Seleccionar miembro" interface="action-sheet" formControlName="miembro">
                        <ion-select-option *ngFor="let item of miembros; ;let i=index" value="{{ i }}">{{ item.nombre }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-textarea placeholder="Descripción vacuna:" formControlName="descripcion"></ion-textarea>
                </ion-item>
            </ion-card-content>

            <ion-card-header>
                <ion-button type="submit" color="primary">GUARDAR</ion-button>
            </ion-card-header>
        </ion-card>
    </form>

</ion-content>
