<app-header Titulo="BOTIQUÍN"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-searchbar color="warning" placeholder="Buscar" (ionChange)="buscar($event)" [debounce]="750"></ion-searchbar>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of medicamentos">
            <ion-label>{{ item.nombre }} <br><ion-card-subtitle>{{ item.resumen }}</ion-card-subtitle> </ion-label>
            <ion-card-subtitle>{{ item.fecha }}</ion-card-subtitle>
            
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
